# =====================
# VS Code Settings
# =====================
.vscode/
.vscode/*.code-workspace

# =====================
# SQLTools / Database Sessions
# =====================
*.session.sql

# =====================
# Environment Files
# =====================
.env
.env.local
.env.*.local
.venv/

# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
generate_report.py

# =====================
# Generated Outputs
# =====================
outputs/
*.pdf
data/

# =====================
# ML Artifacts
# =====================
*.pt
*.pth
*.csv
wandb/
.gradio/

# =====================
# OS / System Files
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log

# =====================
# MD
# =====================
session-memory.md
AI_MENTOR_CONTEXT.md
mentorship-feedback.md
concepts.md


# =====================
# FUTURE PROJECTS
# =====================
one-piece-wiki-rag-proposal.md
Projects/ai-project-ideas.md
progress-and-roadmap.md

# =====================
# PERSONAL PROJECT
# =====================
personal-project/
prompt-context/